* {
  box-sizing: border-box; }

body {
  font-family: Arial; }

.phrase-display {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.phrase-display__container {
  display: none;
  width: 90vw;
  margin: 10px auto;
  padding: 40px;
  border: 2px solid black;
  border-radius: 10px; }

.phrase-display__letter {
  width: 60px;
  height: 80px;
  border: 2px solid red;
  margin: 1px;
  padding: 15px 7px;
  text-align: center;
  font-size: 2.4em;
  font-weight: bold; }

.phrase-display__letter--solved {
  border-color: darkblue; }

.phrase-display__space {
  width: 50px;
  height: 70px;
  margin: 5px;
  padding: 5px; }

.begin-game-btn {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  background-color: lightblue;
  border: 2px solid lightblue;
  border-radius: 5px;
  padding: 7px; }
  .begin-game-btn:hover {
    cursor: pointer; }

.congratulations {
  display: none;
  text-align: center;
  color: red;
  margin: 20px;
  font-size: 1.3em;
  font-weight: bold; }

.no-punctuation-msg {
  display: none;
  text-align: center;
  margin: 5px;
  font-size: 0.8em;
  color: red; }

.guess {
  display: none; }

.guess-letter__input {
  font-size: 1.4em;
  width: 50px;
  padding: 5px 10px;
  text-align: center; }

.guess-phrase__input {
  font-size: 1.2em;
  width: 150px;
  padding: 5px 10px;
  text-align: center; }

.guess__num-words-msg {
  text-align: center; }

.guess__num-words {
  font-weight: bold; }

.guess-letter__submit-btn, .guess-phrase__submit-btn {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  background-color: lightgreen;
  border: 2px solid lightgreen;
  border-radius: 5px;
  padding: 7px;
  margin: 5px 10px; }
  .guess-letter__submit-btn:hover, .guess-phrase__submit-btn:hover {
    cursor: pointer; }

.guess-letter__container, .guess-phrase__container {
  margin: 10px;
  text-align: center; }

.incorrect {
  display: none; }

.incorrect-letters__container {
  width: 300px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px 20px; }

.incorrect-letters__display {
  width: 200px;
  padding: 5px 15px;
  color: darkblue;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1em;
  font-weight: bold; }

.incorrect-letters__letter {
  margin: 5px; }

.incorrect-phrases__container {
  width: 300px;
  margin: 0 auto;
  border: 1px solid black;
  border-top: none;
  padding: 10px 20px; }

.incorrect-phrases__display {
  width: 200px;
  padding: 5px 15px;
  color: darkblue;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1em;
  font-weight: bold; }

.incorrect-phrases__phrase {
  margin: 5px; }

.hints {
  margin: 10px auto;
  display: none; }

.hints__display {
  display: none;
  margin: 10px auto;
  padding: 20px;
  max-width: 400px;
  border: 3px double #838383;
  font-size: 1em;
  text-align: center; }

.hints__toggle-btn, .hints__cycle-btn {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  max-width: 350px;
  background-color: lightblue;
  border: 2px solid lightblue;
  border-radius: 5px;
  padding: 7px;
  margin: 10px auto; }
  .hints__toggle-btn:hover, .hints__cycle-btn:hover {
    cursor: pointer; }

.hints__toggle-btn--inactive {
  opacity: 0.5; }
  .hints__toggle-btn--inactive:hover {
    cursor: default; }

@media all and (max-width: 678px) {
  .begin-game-btn {
    width: 100%; }

  .phrase-display__container {
    width: 98vw; }

  .phrase-display {
    width: 100%; }

  .guess-letter__submit-btn {
    width: 100%; }

  .hints__toggle-btn, .hints__cycle-btn, .hints__display {
    max-width: 100%; } }

/*# sourceMappingURL=styles.css.map */
