.phrase-display {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.phrase-display__container {
	display: none;
	width: 90vw;
	margin: 10px auto;
	padding: 40px;
	border: 2px solid black;
	border-radius: 10px;
}

.phrase-display__letter {
	width: 60px;
	height: 80px;
	border: 2px solid red;
	margin: 1px;
	padding: 15px 7px;
	text-align: center;
	font-size: 2.4em;
	font-weight: bold;
}

.phrase-display__letter--solved {
	border-color: darkblue;
}

.phrase-display__space {
	width: 50px;
	height: 70px;
	margin: 5px;
	padding: 5px;
}