.begin-game-btn {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	width: 100px;
	height: 40px;
	background-color: lightblue;
	border: 2px solid lightblue;
	border-radius: 5px;
	padding: 5px;

	&:hover {
		cursor: pointer;
	}
}

.congratulations {
	display: none;
	color: red;
	font-size: 2em;
	font-weight: bold;
}

.guess {
	display: none;
}

.guess-letter__input {
	font-size: 1.2em;
	width: 50px;
	padding: 10px;
}

