@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.main-container {
	display: none;
	opacity: 0;
	animation: fadeIn 1.4s ease-in-out;
	animation-fill-mode: forwards;
}

.welcome-begin-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.5em;
	padding: 15px;
	transition: color 0.7s ease-in;

	&:hover {
		cursor: pointer;
		color: red;
	}
}

.begin-game-btn {
	display: none;
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
	margin: 0 auto;
	width: 250px;
	background-color: lightblue;
	border: 2px solid lightblue;
	border-radius: 5px;
	padding: 7px;

	&:hover {
		cursor: pointer;
	}
}

.congratulations {
	display: none;
	text-align: center;
	color: red;
	margin: 20px;
	font-size: 1.3em;
	font-weight: bold;
}

.no-punctuation-msg {
	display: none;
	text-align: center;
	margin: 5px;
	font-size: 0.8em;
	color: red;
}
