.begin-game-btn {
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
	// width: 120px;
	// height: 40px;
	background-color: lightblue;
	border: 2px solid lightblue;
	border-radius: 5px;
	padding: 7px;

	&:hover {
		cursor: pointer;
	}
}

.congratulations {
	display: none;
	text-align: center;
	color: red;
	margin: 20px;
	font-size: 1.3em;
	font-weight: bold;
}
